body {

	font-family: 'Open Sans', sans-serif;
}

.uno{
	height: 500px;
	background-image: url("imagenes/manos.jpg");
	background-size: cover;
	background-repeat: no-repeat; 
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.barrita {
	color: white;
	font-size: 25px;
	padding-top: 15px
}

.a {

	font-size: 30px;
	position: absolute;
	left: 200px;

}

.b {

	position: absolute;
	right: 600px;

}

.c {

	position: absolute;
	right: 400px;
}

.d {

	position: absolute;
	right: 200px;

}

.e {

}
.inner {

	font-size: 70px;
	position: absolute;
	top: 100px;
	left: 350px;
	color: white;
}

.f {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 250px;
	left: 500px;
}

.f1 {

	color: white;
	font-size: 20px;
	position: absolute;
	top: 270px;
	left: 550px;
}

.g {

	height: 30px;
	width: 450px;
	background-color: white;
	color: grey;
	padding: 10px;
	text-align: left;
	border-radius: 3px;
	position: absolute;
	top: 350px;
	left: 400px;

}

.g1 {

	background-color: #4CAF50;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	color: white;
	border: none;
	position: absolute;
	height: 50px;
	width: 100px;
	top: 350px;
	left: 880px;


} 

.h {


}

.dos {

	height: 250px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 150px;
	padding-left: 150px;
	text-align: justify;
}

.i {

	font-size: 30px;
	color: green;
}

.j {

	font-size: 20px;
	text-align: justify;

}

.tres {

	height: 250px;
}

.k {

	float: left;
	width: 500px;
	height: 300px;

}

.pelo {

	height: 280px;
	width: 700px;
}

.l {

	width: 600px;
	height: 280px;
	background-color: #4CAF50;
	float: right;
	padding-right: 70px;
	padding-left: 70px;
}

.l1 {

	color: white;
	font-size: 30px;
}

.m {
	color: white;
	font-size: 20px;
	text-align: justify;
}

.m1 {

	background-color: white;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	color: #4CAF50;
	border: none;
	position: absolute;
	height: 50px;
	width: 150px;
	top: 1010px;
	left: 800px;
	z-index: 2;
}

.cuatro {

	height: 300px;
	padding-left: 120px;
	padding-right: 120px;
}

.n1 {

	font-size: 25px;
	color: grey;
}

.n {

	height: 50px;
	width: 100px;
}

.ñ {

	height: 100px;
	width: 100px;
	position: absolute;
	left: 500px;

}

.o {

	height: 100px;
	width: 100px;
	position: absolute;
	left: 800px;

}

.p {

	height: 100px;
	width: 100px;
	position: absolute;
	right: 250px;

}

