body {

	font-family: 'Open Sans', sans-serif;
}

.uno{
	height: 500px;
	background-image: url("imagenes/manos.jpg");
	background-size: cover;
	background-repeat: no-repeat; 
}

.barrita {
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
	color: white;
	font-size: 16px;
	position: relative;
}

.a {

}

.b {


}

.c {
	top: 0;
	float: right;
}

.d {

}

.e {

}
h1 {

	text-align: center;
	color: white;
}

.f {
	color: white;
	text-align: center;
}

.g {


}

.h {


}

.dos {

	height: 200px;
}

.i {

	text-align: center;
	color: green;
}

.j {


}

.tres {
	height: 200px;
}

.k {

	float: left;
	background-image: url("imagenes/pelo.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

.l {

	padding: 5%;
	width: 50%;
	background-color: #33cc33;
	float: right;
}

h3 {

	text-align: center;
	color: white;
}

.m {
	color: white;
}

.n {

	height: 100%
	background-image: url("imagenes/pelo.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

.ñ {

	background-image: url("imagenes/pelo.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

.o {

	background-image: url("imagenes/pelo.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

.p {

	background-image: url("imagenes/pelo.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

